/* General Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff; /* Azul de Bootstrap */
  padding: 0.3rem 1rem; /* Reducido para minimizar la altura */
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-right: 1rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem; /* Reducir tamaño de las opciones */
}

.navbar-brand {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

/* Mejoras responsivas */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar ul li {
    margin: 0.5rem 0;
  }

  .navbar ul li a {
    font-size: 0.85rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }
}
